# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
*.env
*.venv
Pipfile
Pipfile.lock

# Django
*.log
db.sqlite3
/media/
staticfiles/
static/

# IDEs & Editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Migrations
*/migrations/__pycache__/
*/migrations/*.pyc
*/migrations/*.pyo
*/migrations/*.log

# Git
.git/
*.swp
